/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

/*gaby additions*/
.landing{
  top: 30px;
}
.full {
  width: 100%;
  height: 100%;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 850px;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
  min-height: 80%;
}
.parallax-container.left-tile, .parallax-container.right-tile {
  width: 50%;
  float: left;
  height: 100%;
  min-height: 850px;
}
.landing-content{
  padding-left: 10%;
  margin-top: 5%;
}

.parallax-container.blurr{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#landing.parallax-container {
  height: 800px;
}

#landing #main-headshot.parallax img {
  left: 0;
}

#landing .parallax-container.right-tile {
  background: linear-gradient(#530F00 0%, grey 90%), linear-gradient(to top, grey 0%, #F29C8C 90%);
    background-blend-mode: screen, difference, lighten;
}
.dark-overlay{
  background: rgba(0, 0, 0, 0.4);
}
#landing .parallax-container.right-tile.dark-overlay{
    background: linear-gradient(#530F00 0%, darkgrey 90%), linear-gradient(to top, slategrey 10%, #5F5452  90%);
    background-blend-mode: screen, difference, lighten;
}

#contact form {
  background-color: rgba(0, 0, 0, 0.4);
}

.parallax img#main-headshot {
  right: 0;
  left: 76%;
  min-width: 30%;
  position: relative;
  top: -200px;
}
#index-banner .parallax-container.right-tile{
  background: linear-gradient(#120401 0%, grey 90%), linear-gradient(to bottom, grey 0%, #F29C8C 90%);
    background-blend-mode: screen, difference, lighten;

    /*background: linear-gradient(#120401 0%, slategrey 90%), linear-gradient(to top,  #F29C8C 0%, grey 90%);
      background-blend-mode: screen, difference, lighten;*/


}
#index-banner .section  .row h1.header{
  font-weight: 100;
}
.parallax-container.short{
  min-height: 450px;
  height: 500px;
}

.fa-video-camera, .fa-volume-up, .fa-ticket, .fa-female  {
  font-size: 2.5em;
  margin-left: 25%;
  /*margin-right: 30px;*/
}

.media-wrapper {
  /*padding-left: 15%;*/
  float: left;
}

footer.page-footer {
  background: linear-gradient(#120401 0%, grey 90%), linear-gradient(to right, grey 0%, #F29C8C 90%);
    background-blend-mode: screen, difference, lighten;
}

#media {
  /*background-color: #95AD81;*/
  background: linear-gradient(#95AD81, #799465);
}
#highlight-reel {
  padding: 0;
  margin-left: 5%;
  margin-top: 15%;
}
/*.highlight-reel video {
  margin-top: 10%;
}*/
#about-img img{
min-width: 100%;
  /*min-width: 650px;*/
  /*background-image: url('../img/andy in LA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -250px;*/
}
#about-blurb{

    /*background: linear-gradient(#120401 0%, grey 90%), linear-gradient(to right, #95AD81 0%, #799465 90%);
      background-blend-mode: screen, multiply, darken;*/


}
#resume {
  transform: none;
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #landing .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #landing .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
